/* Big tablets to 1200px */

@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
    }
}


/* Small tablets to big tablets: 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    /*Header*/
    .header-text {
        width: 80%;
    }
    /* About */
    .section-about div > div:last-child img {
        margin-top: 35px;
        height: auto;
        width: 355px;
    }
    /* Products */
    .products-row > div > img {
        width: 220px;
        height: 200px;
    }
    /* Form */
    .contact-form {
        width: 100%;
    }
    /* Modal */
    .Modal .content a {
        max-width: 200px;
    }
}


/* Small phones to small tablets: from 465px to 767px*/

@media only screen and (max-width: 767px) {
    .row {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 3.5% 0;
    }
    body {
        font-size: 17px;
    }
    h1 {
        font-size: 250%;
    }
    /* About */
    .section-about div > div:last-child img {
        margin-top: -20px;
    }
    /* Products */
    .products-row > div > img {
        width: auto;
        height: 250px;
    }
    /* Footer */
    footer {
        line-height: 50px;
    }
    /* Modal */
    .Modal .content a {
        max-width: 180px;
    }
}


/* Small phones: from 0 to 465px */

@media only screen and (max-width: 465px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 250%;
    }
    /* Nav */
    .main-nav li:last-child {
        margin: 5% 0;
    }
    /* About */
    .section-about div > div:last-child img {
        height: auto;
        width: 260px;
    }
    /* Products */
    .products-row > div > img {
        width: auto;
        height: 140px;
    }
    /* Bottom */
    .bottom > .row > .col > p {
        font-size: 110%;
    }
    /* Footer */
    footer {
        line-height: 40px;
    }
        /* Modal */
    .Modal .content a {
        max-width: 170px;
    }
}